.dbody {
    position: absolute;
    bottom: 20%;
    .detailsName {
        position: fixed;
        right: 15%;
        top: 8%;
        font-size: 5rem;
        font-weight: bold;
        color: #c9be21;
        text-align: center;
    }
    .detailsSpiritImage {
        position: fixed;
        left: 15%;
        top: 45%;
        z-index: 100;
        height: 35%;
        width: auto;
        
        animation: 10s YAxisSpin reverse none infinite;
        -moz-animation: 10s YAxisSpin reverse none infinite;
        animation-delay: 0; 
    }
    .detailsSeriesIcon {
        display: none;
    }
    .detailsText {
        position: fixed;
        right: 10%;
        top: 20%;
        width: 35%;
        font-size: 2rem;
    }
    .detailsGames {
        background-color: #232323;
        border: 3px solid #6ac29a;
        border-radius: 5px;
        color: lightblue;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        margin-top: 1.5rem;
        font-size: 1.5rem;
        p {
            margin-left: 5px;
        }
    }
}